.campus-card {
    width: 40%;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    display: grid;
    grid-template-areas:
    "img title"
    "img num"
    "img bot";
}

.campus-card-img {
    width: 200px;
    height: auto;
    margin-right: 10px;
    grid-area: img;
}

.campus-card-title {
    grid-area: title;
}

.campus-card-title h3 {
    margin: 0px;
}

.campus-card-num {
    grid-area: num;
}

.campus-card-bot {
    grid-area: bot;
}
