.students-container{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.student-header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.student-header span {
    font-size: 48px;
    font-weight: bold;
}

.new-student-button {
    cursor: pointer;
    color: white;
    background: #2ecefe;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
